[Unit]
Description=silence service
Requires=silence.socket
After=network.target

[Service]
User=silencedaemon
Group=www-data
WorkingDirectory=/usr/share/silence/
Environment="PATH=/usr/share/silence/virtualenvironment/bin"
ExecStart=/usr/share/silence/virtualenvironment/bin/gunicorn --access-logfile - --workers 3 --bind unix:/usr/share/silence/silence.sock wsgi:app

[Install]
WantedBy=multi-user.target